#root {
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;

  #App {
    position: relative;
  }
}

p {
  margin: 0;
}
.container {
  border-radius: 30px;
  width: 1000px;
  display: inline-block;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  /* .workspace-container {
    border-radius: 10px;
    width: 2000px;
    display: inline-block;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  .centered-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
  }
  
  .centered-form form div {
    margin-bottom: 10px;
  }
  
  .centered-form form label.centered-input {
    display: block;
    margin-bottom: 5px;
  }
  
  .centered-form form input.centered-input,
  .centered-form form button.centered-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .centered-form form button.centered-input {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .centered-form form button.centered-input:hover {
    background-color: #0056b3;
  }
  